<?xml version="1.0"?>

<robot name="dock"
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find dockbot)/urdf/general.urdf.xacro"/>

    <xacro:property name="SCALE" value="0.1"/>
    <xacro:property name="SCALE_Z" value="0.1"/>
    <xacro:macro name="DOCK_LINK_ORIGIN">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:macro>

    <link name="dock_base_footprint"></link>
    <!-- <link name="dock_base_link"></link> -->

    <link name="dock_base_link">
        <collision>
            <xacro:ZERO_ORIGIN/>
            <!-- <xacro:generate_geometry shape="box" x="${DOCK_WIDTH}" y="${DOCK_LENGTH}" z="${DOCK_HEIGHT}"/> -->
            <geometry>
                <mesh filename="package://dockbot/meshes/grid_dock.stl" scale="${SCALE} ${SCALE} ${SCALE_Z}"/>
            </geometry>
        </collision>

        <visual>
            <xacro:ZERO_ORIGIN/>
            <!-- <xacro:generate_geometry shape="box" x="${DOCK_LENGTH}" y="${DOCK_WIDTH}" z="${DOCK_HEIGHT}"/> -->
            <geometry>
                <mesh filename="package://dockbot/meshes/grid_dock.stl" scale="${SCALE} ${SCALE} ${SCALE_Z}" />
            </geometry>
        </visual>

        <!-- <xacro:MINIMUM_INERTIAL/> -->
        <inertial>
            <mass value="10" />
            <origin xyz="0 0 0" />
            <inertia ixx="5.652232699207" ixy="-0.009719934438" ixz="1.293988226423" iyy="5.669473158652" iyz="-0.007379583694" izz="3.683196351726" />
        </inertial>
    </link>

    <joint type="fixed" name="footprint_base_joint">
        <xacro:ZERO_ORIGIN/>
        <parent link="dock_base_footprint"/>
        <child link="dock_base_link"/>
    </joint>

    <!-- <joint type="fixed" name="base_dock_joint">
        <xacro:ZERO_ORIGIN/>
        <parent link="base_link"/>
        <child link="dock_base_link"/>
    </joint> -->

    <gazebo reference="dock_base_link">
        <mu1 value="${DOCK_MU1}"/>
        <mu2 value="${DOCK_MU2}"/>
        <kp value="${DOCK_KP}"/>
        <kd value="${DOCK_KD}"/>
        <material>Gazebo/Yellow</material>
    </gazebo>

</robot>
